<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superman - DC Absolute</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="superman-theme">

    <!-- HEADER -->
    <header>
        <h1>Superman</h1>
        <p class="intro">
            Em um mundo sem esperança, até o símbolo dela pode nascer diferente.
        </p>
    </header>

    <!-- INFO -->
    <section class="info">
        <h2>Informações</h2>
        <ul>
            <li><strong>Nome:</strong> Kal-El</li>
            <li><strong>Altura:</strong> 1,90 metros</li>
            <li><strong>Idade:</strong> 20+</li>
            <li><strong>Sexo:</strong> Masculino</li>
            <li><strong>Criado por:</strong> 
            Jason Aaron · Rafa Sandoval
            </li>
            <li><strong> Primeira aparição:</strong><span>Absolute Superman #1</span></li>
        </ul>
    </section>

    <!-- DESCRIÇÃO -->
    <section class="descricao">
        <h2> Descrição</h2>
        <p>
            Diferente da versão clássica, este Superman viveu sua infancia e em krypton, aonde o sistema
        </p>

        <p>
            Ainda assim, ele representa resistência — não por ser perfeito,
            mas por continuar tentando.
        </p>
    </section>

    <!-- ORIGEM -->
    <section class="origem">
        <h2> Origem</h2>
        <p>
            Vindo de Krypton, Kal-El chega à Terra em um mundo muito mais duro.
            Sua criação molda um herói menos idealista e mais realista,
            mas ainda assim guiado por um senso de justiça.
        </p>
    </section>

    <!-- HABILIDADES -->
    <section class="habilidades">
        <h2> Poderes e Habilidades</h2>
        <ul>
            <li> Super força</li>
            <li> Velocidade sobre-humana</li>
            <li> Visão de calor</li>
            <li> Voo</li>
            <li> Resistência extrema</li>
        </ul>
    </section>

    <!-- VOLTAR -->
    <div class="btn-container">
        <a href="herois.html" class="btn-link">Voltar</a>
    </div>

</body>
</html>